<!doctype html>
<html>
<head>
    <?php include_js('html5.js'); ?>
    <meta charset="utf-8"/>
    <title>学院留言板</title>
    <?php include_css('cssreset.css'); ?>
   	<?php include_css('common.css'); ?>
   	<?php include_css('index.css'); ?>
	<?php include_js('jquery.js'); ?>
    <?php include_js('lazyLoad.js'); ?>
  
   
</head>
<body>

<?php include_once("./View/Common/header.html"); ?>

<a href="#top" id="scrollTop">返回顶部</a>

<div id="main"></div>

<?php include_once("./View/Common/footer.html"); ?>
</body>
</html>